body {
    background: 
        radial-gradient(circle at -5% 10%, #3b0775, transparent 30%),
        radial-gradient(circle at 105% 30%, #3b027c, transparent 30%),
        radial-gradient(circle at 50% 50%, #042c5e, transparent 70%),
        radial-gradient(circle at 20% 100%, #00132a, transparent 15%),
        radial-gradient(circle at 80% 105%, #00132a, transparent 30%),
        #000;

    display: flex;
    align-items: center;
    justify-content: center;
}


/* === ANIMATED BACKGROUND === */
body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff15;
    backdrop-filter: blur(100px);

    animation: animated_background 20s linear infinite alternate;
}
@keyframes animated_background {
    from {
        background: #00000000;
        backdrop-filter: blur(0px);
    }
    to {
        background: #ffffff15;
        backdrop-filter: blur(200px);
    }
}


/* === MAIN === */
main {
    /* width: 50vw; */
    /* height: 50vh; */

    background: #3b027c27;
    backdrop-filter: blur(10vw);
    border-radius: 25px;
    border: 1px solid #3c1380;
    box-shadow: 25px 25px 50px 20px #00000099;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;

    padding: min(4vh, 2vw);
}




/* === PROFILE === */
main > .profile-box {
    height: min(20vh, 10vw);
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

main > .profile-box > .profile-photo-container {
    height: 100%;
    margin: 0 1vw;

    display: flex;
    justify-content: center;
    align-items: center;

    /* flex: 1; */
}
main > .profile-box > .profile-photo-container > .profile-photo {
    aspect-ratio: 1;
    height: min(10vh, 5vw);
    border-radius: 50%;
}

main > .profile-box > .profile-name-container {
    height: 100%;
    margin: 0 1vw;

    /* display: inline-block; */
    display: flex;
    align-items: center;
    justify-content: center;

    /* flex: 7; */
}
main > .profile-box > .profile-name-container > .profile-name {
    margin: 0;
    padding: 0;

    text-align: center;

    font-family: 'Work Sans', Arial, Helvetica, sans-serif;
    font-weight: 450;
    font-size: min(8vh, 4vw);
}




/* === INFO === */
main > .info-box {
    height: min(7.5vh, 3.75vw);

    display: inline-flex;
    justify-content: center;
    align-items: center;
}
main > .info-box > .info-text {
    margin: 0;
    padding: 0;
    
    text-align: center;

    font-size: min(2vh, 1vw);
}




/* === LINKS === */
main > .links-box {
    margin: 0;
    padding: 3vh 3vw;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
main > .links-box > .link-container {
    width: min(12vh, 6vw);
    aspect-ratio: 1;

    border: 1px solid #512a7cb6;
    border-radius: 25%;
    overflow: hidden;

    transition: border-color 0.1s ease-in;

    text-decoration: none;

    
}

main > .links-box > .link-container > .link-icon-container {
    height: 100%;
    padding: 0 1vw;

    transition: height 0.1s ease-in, padding 0.1s ease-in;

    
}
main > .links-box > .link-container > .link-icon-container > svg {
    height: 100%;
    width: 100%;

    object-fit: contain;
}
main > .links-box > .link-container > .link-desc-container {
    opacity: 0;
    position: relative;

    transition: opacity 0.1s ease-in;

    
}
main > .links-box > .link-container > .link-desc-container > .link-desc {
    margin: 0;
    padding: 0;

    text-align: center;
    font-weight: 450;
    font-size: min(2.5vh, 1.25vw);;
}

main > .links-box > .link-container:hover {
    border-color: #ac78ff;

    
    
}
main > .links-box > .link-container:hover > .link-icon-container {
    height: 65%;
    padding: 0.5vw;
}
main > .links-box > .link-container:hover > .link-desc-container {
    opacity: 1;
}