@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');



/* GENERAL */
* {
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
html, body {
    margin: 0;
    border: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

html {
    background-color: #383838;
}
body {
    color: #fff;
    font-family: 'Open Sans', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(135deg, hsl(120, 50%, 20%), hsl(180, 50%, 20%));
    overflow: hidden;
}
.main {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    flex-direction: row;
    transition: backdrop-filter 1s linear;
}



/* SIDEBAR */
.sidebar {
    position: relative;
    width: 20%;
    height: 100vh;
    box-sizing: border-box;

    border-right: #888 1px solid;
    display: flex;
    flex-direction: column;

    background: #4448;
}
.profileContainer, .linksContainer, .socialContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    padding: 2vmin;
    box-sizing: border-box;
}
.profileContainer {
    height: 50%;
}
.profileImageContainer, .profileNameContainer {
    padding: 1.5vw;
    box-sizing: border-box;
}
.profileImageContainer {
    height: 75%;
}
.profileNameContainer {
    height: 25%;
}
.profileImage, .profileName {
    width: 100%;
    height: 100%;
}
.profileImage {
    object-fit: contain;
    cursor: pointer;
}
.profileName {
    font-size: 3vmin;
    vertical-align: middle;
    margin: 0;
    padding: 0;
}

.linksContainer {
    height: 40%;
}
.linksContainer > div {
    display: flex;
    flex-direction: row;
    margin: auto 0;
}
.activeIndicatorContainer {
    width: 1vmin;
    height: 100%;
}
.activeIndicator {
    position: relative;
    width: 100%;
    height: 20%;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid transparent;
    box-sizing: border-box;
}
.linkList {
    width: calc(100% - 1vmin);
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 0.75vmin;
    box-sizing: border-box;
}
.slideLink {
    margin: 0;
    border: 1px solid transparent;
    padding: 0.75vmin 1.5vmin;

    background-color: transparent;
    border-radius: 5px;
    box-sizing: border-box;

    color: #fff;
    width: 100%;
    text-align: left;
    font-size: 2vmin;

    transition: all 0.1s linear;
    cursor: pointer;
}
.slideLink:hover {
    border: 1px solid #6b6b6b;
}
.slideLink:active {
    background-color: #949494;
}

.socialContainer {
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    padding: 0;
    margin: 0;
    border: 0;
}
.socialButton {
    width: max-content;
    height: max-content;
    padding: 1vmin;
    margin: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    box-sizing: border-box;
}
.socialImage {
    width: 100%;
    object-fit: contain;
    transition: all 0.1s linear;
    transform: scale(1);
}
.socialImage:hover {
    transform: scale(1.5);
}
.socialImage:active {
    transform: scale(0.75);
}



/* SLIDES */
.slidearea{
    position: relative;
    width: 80%;
    height: 100vh;
    box-sizing: border-box;
}
.slide {
    width: 100%;
    height: 100vh;

    display: none;
}
.slideTitleContainer, .slideContainer {
    width: 100%;
    padding: 5vmin;
    box-sizing: border-box;
}
.slideTitleContainer {
    height: max-content;
}
.slideTitle {
    font-size: 7vmin;
    margin: 0;
    padding: 0;
    text-align: center;
}
.slideContainer {
    height: 100%;
}



/* SLIDE COMPONENTS */
:root {
    --card-border-radius: 15px;
    --card-border-style: 1px solid #888;

    --card-title-size: 4vmin;
    --card-description-size: 2vmin;

    --card-hover-background: #66666666;
    --card-hover-border: #949494;

    --card-transition: all 0.1s linear;;
}

/* ALIGN ELEMENTS */
.horizontalAlign {
    display: flex;
    flex-direction: row;
}
.verticalAlign {
    display: flex;
    flex-direction: column;
}
.horizontalAlign > *, .verticalAlign > * {
    flex: 1;
}

/*EXTERNAL LINKS */
.externalLinkContainer {
    margin: 5vmin;
}
.externalLinkImg {
    width: 100%;
    height: 100%;
}

/* PROJECT CARDS */
.projectCardContainer {
    padding: 2.5vmin;
    box-sizing: border-box;
}
.projectCard {
    width: 100%;
    height: 100%;
    padding: 2.5vmin;
    box-sizing: border-box;
    border-radius: var(--card-border-radius);
    border: var(--card-border-style);
    background-color: transparent;
    transition: var(--card-transition);
}
.projectCard:hover {
    background-color: var(--card-hover-background);
    border-color: var(--card-hover-border);
}
.projectTitleContainer {
    width: 100%;
    height: max-content;
}
.projectTitle {
    font-size: var(--card-title-size);
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
    transition: var(--card-transition);
}
.projectTitle:hover {
    color: #7e7eff;
}
.projectDescriptionContainer {
    width: 100%;
    height: max-content;
}
.projectDescription {
    font-size: var(--card-description-size);
    margin: 0;
    padding: 0;
    color: #ffffff;
}
.projectDescription > strong {
    color: #47b347;
    font-weight: normal;
}

/* EXTENSION CARDS */
.extensionCardContainer {
    padding: 2.5vmin;
    box-sizing: border-box;
}
.extensionCard {
    width: 100%;
    height: 100%;
    padding: 2.5vmin;
    box-sizing: border-box;
    border-radius: var(--card-border-radius);
    border: var(--card-border-style);
    background-color: transparent;
    transition: var(--card-transition);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.extensionIconContainer {
    width: 25vmin;
    height: 25vmin;
    object-fit: contain;
}
.extensionIcon {
    width: 100%;
    height: 100%;
}
.extensionTitleContainer {
    width: 100%;
    height: max-content;
    text-align: center;
    margin: 1vmin 0;
}
.extensionTitle {
    font-size: var(--card-title-size);
    margin: 0;
    padding: 0;
    color: #ffffff;
}
.extensionDescriptionContainer {
    width: 100%;
    height: 100%;
    height: max-content;
    text-align: center;
    margin: 3vmin 0;
}
.extensionDescription {
    font-size: var(--card-description-size);
    margin: 0;
    padding: 0;
    color: #ffffff;
}
.extensionLinksContainer {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.extensionLink {
    width: 3vmin;
    height: 3vmin;
    object-fit: contain;
    cursor: pointer;
    transition: var(--card-transition);
    padding: 1vmin;
}
.extensionLinkIcon {
    width: 100%;
    height: 100%;
}
.extensionLink:hover {
    transform: scale(1.5);
}

/* GAME CARDS */
.gameCardGrid {
    padding: 5vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.gameCardContainer {
    flex: 1 1 0px;

    margin: 0;
    padding: 2.5vmin;
    /* width: max-content; */
    height: max-content;
}
.gameCard {
    width: 100%;
    height: 100%;
    display: inline-block;
    padding: 3vmin;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    border-radius: var(--card-border-radius);
    border: var(--card-border-style);
    transition: var(--card-transition);
}
.gameCard:hover {
    background-color: var(--card-hover-background);
    border-color: var(--card-hover-border);
}
.gameTitle {
    font-size: var(--card-title-size);
    text-align: center;
}




/* MAIN SLIDE */
.mainSlide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.introContainer {
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.intro {
    font-size: 10vmin;
    text-align: center;
    padding: 2vmin 5vmin;
    margin: 2vmin 0;
    border-radius: 5vmin;
    background: #383838;
    box-sizing: border-box;
}
.typewriter {
    padding-right: 2vmin;
    border-right: 0.75vmin solid #6dacff;
    animation: blink-caret 1s infinite step-end;
}
.typewriter > span {
    -webkit-user-select: text;
    user-select: text;
}
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #6dacff; }
}
.introDescription {
    font-size: 3vmin;
    text-align: center;
    padding: 2vmin;
}
.introDescription > a {
    text-decoration: none;
    color: #368dff;
}
.introDescription > a:hover {
    text-decoration: underline;
}
.introDescription > a:visited {
    color: #5757fd;
}
.summaryContainer {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.summary {
    color: #ffffff6e;
    font-size: 2.5vmin;
}

span.color-cmd {
    color:#9cdcfe;
}
span.color-del {
    color:#fff;
}
span.color-str {
    color:#ce9178;
}